* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: space-evenly;
  /* margin: auto,0,auto,0; */

}


nav {

  display: grid;
  height: 48px;
  grid-template-columns: repeat(13, 1fr);
}

nav span {
 color: #000000; 
  align-self: center;

}
nav button{
  height: 48px;
}

#navlogo {
  height: 48px;
  width: min-content;
}

#navtxt {
  height: 22px;

}

button {
  height: 40px;
  background: #0057E5;
}

.div1 {
  background: #1E1919;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.div1 h2 {
  font-family: "Sharp Grotesk 23", "Sharp Grotesk 23 KR", "Sharp Grotesk 23 Thai", "Helvetica (Sharp Grotesk 23 Fallback)", "Arial (Sharp Grotesk 23 Fallback)", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 40px;
  line-height: 48px;
}

.div1 span {
  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk", "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 24px;
}

#bb {
  height: 71px;
  width: 211px;
  background: transparent;
  color: #ffff;
  background: #3984FF;
  border: none;
}

.div1 video {
  height: 356px;
  width: 630px;

}

.div1_2 {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  

}
.sub_div{
  display: grid;
  grid-template-columns: repeat(4, auto);

}

#h2_1{
  font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk", "Helvetica (Atlas Grotesk Fallback)", "Arial (Atlas Grotesk Fallback)", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 32px;
  line-height: 38.4px;
}

.sub_div {
display: flex;
flex-direction: row;
  color: inherit;
  justify-content:  space-around;
}

.ccc{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.ccc img {
  height: 43px;
  width: 43px;
}

.ccc h3 {
  font-family: serif;
  font-size: 10.72px;
  line-height: normal;
}

.ccc p{
  max-width: 269px;
} 
.div2{
display: flex;
flex-direction: column;
align-items: center;
}

.div2 h2{
  color: #000000;
  display: flex;
  flex-direction: row;
font-size: 32px;
line-height: 38.4px;
}

.sub_div2 {
  display: grid;
  background: #F7F5F2;
  color: #1E1919;
  grid-template-columns: repeat(4, auto);

}

.sub_div2 img {
  height: 48px;
}

.sub_div2 a {
  font-size: 16px;
  line-height: 19.2px;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}

.sub_div2 {
  font-size: 16px;
  line-height: 19.2px;
}

.sub_div2 p {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  

}

.div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1E1919;
}

.div3_1 {
  display: grid;
  grid-template-columns: repeat(2,auto);
gap: 12px;

}

.div3_1_1{
  display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
}



.div3_1_1 img {
  height: 212px;
}

.div3_1_1 h2 {
  font-size: 24px;
  line-height: 28.8px;
}

.div3_1_1 p {
  font-size: 16px;
  line-height: 24px;
  max-width: 540px;
}

.div3_1_1 button {
  height: 53px;
  min-width: 266px;
  background: #3984FF;
  color: black;
}

.div3_2 {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

.div3_2_1{



}

.div4 {
  background: #F7F5F2;
  color: black;
  width: 100%;
}

.div4 h2 {
  font-size: 32px;
  line-height: 38.4px;
}

.div4 p {
  font-size: 16px;
  line-height: 24px;
}

.div4_1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}



.div4_info {
  background-color: white;

}

.div4_info div {
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px solid #a7a7a7 ;

}

.div4_info p {
  font-size: 16px;
  line-height: 24px;
}

.div4_info a {
  height: 106px;
  font-size: 16px;
  line-height: 19.2px;

}


#div4_img {
  background: #14C8EB;
}

#div4_img img {
}


.div5 {
  background: #F7F5F2;
  color: black;
}

.div5 h2 {
  font-size: 32px;
  line-height: 38.4px;
}

.div5 a {
  font-size: 16px;
  line-height: 24px;
}

.mms{
  display: flex;
  flex-direction: row;
  
}
.div5 div {
  display: grid;
  grid-template-rows: repeat(2,auto);
  grid-template-columns: repeat(4,auto);
}

.div5 div img {
  height: 48px;
  width: 47px;
}

.div6 {
  background: #1E1919;
  display: flex;
  flex-direction: column;
align-items: center;
}

.div6 h2 {align-self: center;}

.div6 a {align-self: center;
color: white;}

.div6_1 {
  display: flex;
  flex-direction: row;
  background: #9B0032;
}

.div6_1 img {
  display: flex;
  align-self: flex-start;
}

.div6_1 p {
  font-size: 24px;
  line-height: 28.8px;
}

.div6_1 a {
  font-size: 16px;
  line-height: 19.2px;
}

.div6_2 {
  display: flex;
  color: #fff;
  justify-content: space-evenly;
}

.div6_2 h2 {
  font-size: 40px;
  line-height: 44px;
  text-decoration: none;
  color: #fff;
}

.div6_2 button {
  height: 70px;
  width: 310px;
  color: black;
  background: #3984FF;
  border: none;
}

footer {
  background-color: #000000;
  display: flex;
  justify-content: space-evenly;
}

ul {
  display: flex;
  flex-direction: column;

}